*.xcbkptlist
GNESectionedTableView.xcodeproj/xcuserdata/atdrendel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
GNESectionedTableView.xcodeproj/project.xcworkspace/xcuserdata/atdrendel.xcuserdatad/UserInterfaceState.xcuserstate